*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: rgb(125, 0, 174);
    background-color: rgb(125, 0, 174);
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{

    
    background-color:#f5f8dd;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px black;
    display: grid;
    grid-template-columns: 70px 70px 70px 70px;

}
input{
    grid-column: span 4;
    width: 260px;
    height: 70px;
    background-color: #ecf0f3;
    border: none;
    /* box-shadow: 5px 5px 5px 5px lightgrey; */
    box-shadow: inset -2px -2px 8px 3px rgb(125, 0, 174) ,
                      -1px 0px 3px -1px rgba(163, 0, 208, 0.12) ;
    border-radius: 30px;
    padding: 0 8px;
    font-size: 30px;
    text-align: end;
    margin: 40px auto;
    
}
input::placeholder{
    color: rgb(125, 0, 174);
}
button{
    width: 48px;
    height: 48px;
    background-color: #e8efc3;
    box-shadow: inset 0px 0px 3px 3px rgb(125, -5, 180);
    border-radius: 40%;
    border: none;
    margin: 8px auto;
    transition: transform 0.2s;
}
button:active{
    font-size: 17px;
    color: rgb(255, 255, 255);
    background-color: rgb(125, 0, 174);
}
button:hover{
    transform: translateY(-3px);
}
.equal{
    width: 121px;
    border-radius: 40px;
    margin: 8px 12px;
}